*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}
body{
    background-image: url(../images/bg-mobile.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
}
.huddle-logo{
    /* background-color: red; */
    width: 8rem;
    margin: 1.7rem;
}


.main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.illustration-mockups-image{
    width: 80vw;
    /* background-color: red; */
    margin: 1.6rem auto;
}

.main-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0 10%;
    margin-top: 2rem;

}

.description{
    margin: 0rem auto;
    font-weight: 400;
    padding: 0 8%;
    line-height: 1.5rem;

}

.register-button{
    color: var(--Violet);
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    background-color: white;
    padding: 0.9em 6.5em;
    border-radius: 5em;
    margin-top: 1.5rem;

    margin-bottom: 4rem;

    box-shadow: 0.3rem 0.3rem 0.5rem hsl(257, 40%, 28%);

}

.social-div{
    width: 7rem;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.social-logo{
    fill: white;
    width: 1.5rem;
    padding: 15%;
    border: 0.1rem solid white;
    border-radius: 2rem;
}

@media  screen and (min-width: 950px) {
    body{
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;

    }

    .main-card{
        flex-direction: row;
        width: 90vw;
        /* background-color: red; */
        margin:  3rem auto;
        align-items: flex-start;
        /* align-items: stretch; */
    }

    .illustration-mockups-image{
        /* background-color: blue; */
        width: 70vw;
        margin: 0;
        /* align-self: center; */
    }

    .main-info-div{
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        padding-left: 5.125%;
        /* padding-right: 2%; */
        /* margin-top: 1rem; */

        /* background-color: chartreuse; */


    }

    .main-title{
        margin-top: 3.5rem;
        /* width: 90%; */
        padding: 0;
        /* background-color: brown; */
        font-size: 2.5rem;
    }

    .description{
        margin: 1rem auto 0.5rem;
        padding: 0;
        /* background-color: rgb(172, 153, 130); */


    }

    .social-div{
        align-self: flex-end;
        margin-top: 4.75rem;
        /* background-color: red; */
        width: 10rem;
    }

    .social-logo{
        width: 2rem;
    }

    .register-button{
        font-size: 1rem;
        text-align: center;
        padding: 1rem 2rem;
        width: 10.25rem;
    }
    
}